<div class="grid__item">
  {% if block.settings.heading %}
    <div class="footer__block-heading">{{ block.settings.heading }}</div>
  {% endif %}
  {%- case block.type -%}
    {%- when 'payment-social' -%} 
    {%- unless shop.enabled_payment_types == empty -%}
      <ul>
          {% comment %}Paypal{% endcomment %}
          <li>  
            <svg width="62" height="29" viewBox="0 0 62 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.249196" y="1.1447" width="61.5016" height="27.4116" rx="7.72508" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M34.3857 10.115H37.1007C38.0094 10.115 38.6942 10.3599 39.0807 10.8214C39.4314 11.242 39.5484 11.8418 39.427 12.606C39.1575 14.3522 38.1252 15.2343 36.3368 15.2343H35.4771C35.2922 15.2343 35.1341 15.3715 35.1051 15.5586L34.7933 17.5689C34.7733 17.6993 34.663 17.7956 34.5327 17.7956H33.1396C33.0004 17.7956 32.8946 17.6698 32.9158 17.5292L34.0138 10.4393C34.0427 10.2522 34.2009 10.115 34.3857 10.115ZM35.801 13.6969C36.5203 13.6969 37.2653 13.6969 37.4134 12.7048L37.4145 12.7037C37.468 12.3556 37.4257 12.1039 37.2831 11.9327C37.0419 11.6449 36.5724 11.6462 36.0278 11.6478L35.9034 11.6481C35.792 11.6481 35.6974 11.732 35.6796 11.8431L35.3923 13.6969H35.801ZM43.9167 12.6731H45.2173L45.2184 12.6742C45.3565 12.6742 45.4634 12.8001 45.4412 12.9418L44.7385 17.4738C44.7095 17.6609 44.5514 17.798 44.3665 17.798H43.195C43.0558 17.798 42.9501 17.6722 42.9712 17.5316L43.0291 17.1631C43.0291 17.1631 42.3877 17.9205 41.2295 17.9205C40.5547 17.9205 39.9879 17.7221 39.5914 17.247C39.1594 16.73 38.9834 15.9884 39.107 15.2129C39.3453 13.6584 40.5725 12.5495 42.0091 12.5495C43.1884 12.5495 43.4788 12.997 43.6135 13.2045L43.6135 13.2046C43.6215 13.2169 43.629 13.2284 43.636 13.2389L43.6928 12.8681C43.7106 12.7558 43.8053 12.6731 43.9167 12.6731ZM41.9365 16.5145C42.6882 16.5145 43.2784 16.0066 43.4042 15.2503V15.2514C43.461 14.8852 43.3831 14.553 43.1849 14.3149C42.9866 14.079 42.6871 13.9543 42.3174 13.9543C41.5768 13.9543 40.9766 14.4781 40.8597 15.2276C40.7984 15.5961 40.8719 15.9249 41.0635 16.1574C41.2572 16.3909 41.559 16.5145 41.9365 16.5145ZM45.6354 17.5315L46.7501 10.3112C46.7668 10.1978 46.8625 10.115 46.9728 10.1173H48.2278C48.367 10.1173 48.4728 10.2432 48.4516 10.3838L47.3525 17.4737C47.3236 17.6608 47.1654 17.798 46.9806 17.798H45.8592C45.72 17.798 45.6142 17.6721 45.6354 17.5315Z" fill="#009CDE"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0185 10.1149H17.7335L17.7324 10.1138C18.6411 10.1138 19.3248 10.3587 19.7124 10.8213C20.0631 11.2419 20.1801 11.8417 20.0587 12.606C19.7892 14.3521 18.7569 15.2342 16.9685 15.2342H16.1088C15.9239 15.2342 15.7658 15.3714 15.7368 15.5585L15.4406 17.4713C15.4116 17.6584 15.2535 17.7956 15.0687 17.7956H13.7724C13.6332 17.7956 13.5274 17.6697 13.5486 17.5291L14.6466 10.4392C14.6756 10.2521 14.8337 10.1149 15.0185 10.1149ZM16.434 13.6967C17.1534 13.6967 17.8984 13.6967 18.0465 12.7046V12.7035C18.1011 12.3554 18.0577 12.1037 17.9151 11.9325C17.6768 11.6479 17.2136 11.6479 16.7236 11.6479H16.5354C16.424 11.6479 16.3294 11.7318 16.3115 11.8429L16.0242 13.6967H16.434ZM24.5488 12.6728H25.8495L25.8506 12.674C25.9887 12.674 26.0945 12.7998 26.0733 12.9415L25.3706 17.4735C25.3417 17.6606 25.1835 17.7978 24.9987 17.7978H23.8272C23.688 17.7978 23.5822 17.6719 23.6033 17.5313L23.6612 17.1628C23.6612 17.1628 23.0198 17.9202 21.8617 17.9202C21.1868 17.9202 20.62 17.7218 20.2236 17.2467C19.7915 16.7297 19.6156 15.9882 19.7392 15.2126C19.9775 13.6581 21.2047 12.5492 22.6412 12.5492C23.8205 12.5492 24.1109 12.9967 24.2456 13.2043C24.2536 13.2166 24.2611 13.2281 24.2682 13.2386L24.325 12.8678C24.3428 12.7556 24.4374 12.6728 24.5488 12.6728ZM22.5686 16.5143C23.3203 16.5143 23.9116 16.0064 24.0363 15.2501V15.2512C24.0931 14.885 24.0152 14.5528 23.817 14.3147C23.6187 14.0788 23.3192 13.9541 22.9495 13.9541C22.2089 13.9541 21.6087 14.478 21.4918 15.2274C21.4305 15.5948 21.504 15.9247 21.6956 16.1572C21.8893 16.3907 22.1911 16.5143 22.5686 16.5143ZM31.4681 12.6729H32.7755C32.957 12.6729 33.065 12.8816 32.9592 13.0358L28.6129 19.4227C28.5416 19.5247 28.4258 19.5871 28.3022 19.5871H26.997C26.8144 19.5871 26.7064 19.3773 26.8133 19.2243L28.1674 17.2786L26.7287 12.9779C26.6774 12.8283 26.7877 12.6729 26.9425 12.6729H28.2276C28.3946 12.6729 28.5416 12.784 28.5895 12.9473L29.3534 15.5449L31.1563 12.8419C31.2265 12.7364 31.3434 12.6729 31.4681 12.6729Z" fill="#003087"/>
              <rect x="0.249196" y="1.1447" width="61.5016" height="27.4116" rx="7.72508" stroke="#DCDCDC" stroke-width="0.498392"/>
            </svg>
          </li>
          {% comment %}Visa{% endcomment %}
          <li>  
            <svg width="62" height="29" viewBox="0 0 62 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.249196" y="1.1447" width="61.5016" height="27.4116" rx="7.72508" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M34.1039 12.7446C34.0983 13.1896 34.6276 13.484 35.4911 13.9244V13.9255C36.9175 14.6038 37.5757 15.428 37.569 16.5112C37.55 18.4882 35.8634 19.7645 33.2652 19.7645C32.1561 19.7516 31.0885 19.5208 30.511 19.2559L30.8575 17.1247C31.8533 17.598 32.4062 17.7758 33.5029 17.7758C34.2138 17.7758 34.9764 17.4838 34.982 16.8456C34.9865 16.4288 34.6624 16.1309 33.7003 15.6646C32.7628 15.209 31.5203 14.446 31.5349 13.0778C31.5494 11.228 33.2696 9.93633 35.712 9.93633C36.6697 9.93633 37.4367 10.1424 37.9267 10.3355L37.5914 12.3996C36.9489 12.0817 36.3108 11.9121 35.5191 11.9251C34.5514 11.9251 34.1039 12.3489 34.1039 12.7446ZM28.9612 19.6232H26.4908L28.0361 10.1023H30.5076L28.9612 19.6232ZM42.3541 10.1106H44.2638H44.2649L46.2666 19.6256H43.9734L43.6717 18.1985L40.506 18.195L39.9857 19.6256H37.3897L41.06 10.8995C41.3202 10.2801 41.762 10.1106 42.3541 10.1106ZM42.5293 12.6786C42.3286 13.2543 41.3193 15.9743 41.2173 16.2486H43.2694L42.5293 12.6786ZM21.9974 16.6007L24.4173 10.1082H24.4162V10.107H27.0347L23.1435 19.6102L20.5284 19.6138L18.3305 11.3445C17.5702 10.903 16.7045 10.5462 15.7345 10.3001L15.7659 10.1023H19.7524C20.2895 10.1223 20.7235 10.3025 20.8727 10.9053L21.7395 15.2807L21.9974 16.6007Z" fill="#383E44"/>
              <rect x="0.249196" y="1.1447" width="61.5016" height="27.4116" rx="7.72508" stroke="#DCDCDC" stroke-width="0.498392"/>
              <defs>
              <linearGradient id="paint0_linear_935_48130" x1="15.7344" y1="19.7645" x2="46.2663" y2="19.7645" gradientUnits="userSpaceOnUse">
              <stop stop-color="#181A5F"/>
              <stop offset="1" stop-color="#0E239A"/>
              </linearGradient>
              </defs>
            </svg>
          </li>
          {% comment %}Mastercard{% endcomment %}
          <li>  
            <svg width="62" height="29" viewBox="0 0 62 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.249196" y="1.1447" width="61.5016" height="27.4116" rx="7.72508" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M29.4456 14.869C29.4456 14.3714 29.7713 13.963 30.3043 13.963C30.8135 13.963 31.157 14.3538 31.157 14.869C31.157 15.3841 30.8135 15.775 30.3043 15.775C29.7713 15.775 29.4456 15.3665 29.4456 14.869ZM31.7373 14.869V13.4536H31.1213V13.7971C30.9259 13.5425 30.6298 13.3825 30.2271 13.3825C29.4336 13.3825 28.8119 14.0044 28.8119 14.869C28.8119 15.7336 29.4336 16.3554 30.2271 16.3554C30.6298 16.3554 30.9259 16.1954 31.1213 15.9408V16.2843H31.7373V14.869ZM52.5347 14.869C52.5347 14.3714 52.8604 13.963 53.3934 13.963C53.9026 13.963 54.2462 14.3538 54.2462 14.869C54.2462 15.3841 53.9026 15.775 53.3934 15.775C52.8604 15.775 52.5347 15.3665 52.5347 14.869ZM54.8264 14.8689V12.3167H54.2105V13.797C54.0152 13.5425 53.719 13.3825 53.3163 13.3825C52.5228 13.3825 51.901 14.0044 51.901 14.8689C51.901 15.7335 52.5228 16.3553 53.3163 16.3553C53.719 16.3553 54.0152 16.1954 54.2105 15.9408V16.2843H54.8264V14.8689ZM39.3764 13.9333C39.7733 13.9333 40.0279 14.182 40.093 14.6202H38.6245C38.6896 14.2116 38.9383 13.9333 39.3764 13.9333ZM39.3885 13.3825C38.5595 13.3825 37.9791 13.9866 37.9791 14.869C37.9791 15.7692 38.5831 16.3554 39.4299 16.3554C39.8564 16.3554 40.2471 16.2487 40.5907 15.9586L40.2886 15.5026C40.0517 15.6921 39.7497 15.7987 39.4655 15.7987C39.0687 15.7987 38.7075 15.6151 38.6186 15.1058H40.7209C40.7268 15.0288 40.7327 14.952 40.7327 14.869C40.7268 13.9866 40.1821 13.3825 39.3885 13.3825ZM46.8202 14.869C46.8202 14.3714 47.1459 13.963 47.679 13.963C48.1881 13.963 48.5317 14.3538 48.5317 14.869C48.5317 15.3841 48.1881 15.775 47.679 15.775C47.1459 15.775 46.8202 15.3665 46.8202 14.869ZM49.1118 14.869V13.4536H48.4959V13.7971C48.3006 13.5425 48.0046 13.3825 47.6016 13.3825C46.8082 13.3825 46.1865 14.0044 46.1865 14.869C46.1865 15.7336 46.8082 16.3554 47.6016 16.3554C48.0046 16.3554 48.3006 16.1954 48.4959 15.9408V16.2843H49.1118V14.869ZM43.3441 14.869C43.3441 15.7277 43.9421 16.3554 44.8542 16.3554C45.2805 16.3554 45.5647 16.2605 45.8726 16.0177L45.5767 15.5203C45.3457 15.6863 45.1029 15.775 44.8364 15.775C44.3449 15.7692 43.9836 15.4138 43.9836 14.869C43.9836 14.3241 44.3449 13.9689 44.8364 13.9629C45.1029 13.9629 45.3457 14.0517 45.5767 14.2176L45.8726 13.7201C45.5647 13.4773 45.2805 13.3825 44.8542 13.3825C43.9421 13.3825 43.3441 14.0102 43.3441 14.869ZM51.2796 13.3825C50.9243 13.3825 50.6933 13.5484 50.5334 13.7971V13.4536H49.9235V16.2843H50.5393V14.6972C50.5393 14.2294 50.7407 13.9689 51.1434 13.9689C51.2678 13.9689 51.3981 13.9866 51.5282 14.0399L51.7179 13.4596C51.5817 13.4062 51.404 13.3825 51.2796 13.3825ZM34.7809 13.6787C34.4848 13.4833 34.0763 13.3825 33.6262 13.3825C32.9097 13.3825 32.4477 13.726 32.4477 14.2886C32.4477 14.7506 32.7912 15.0348 33.4248 15.1236L33.715 15.165C34.0525 15.2124 34.2124 15.3012 34.2124 15.4611C34.2124 15.6803 33.9874 15.8046 33.5669 15.8046C33.1406 15.8046 32.8326 15.6683 32.6253 15.5086L32.3352 15.9881C32.6727 16.2369 33.0991 16.3554 33.5611 16.3554C34.3782 16.3554 34.852 15.9704 34.852 15.4315C34.852 14.9341 34.4788 14.6735 33.863 14.5847L33.5728 14.5432C33.3063 14.5078 33.0933 14.4544 33.0933 14.265C33.0933 14.0577 33.2945 13.9333 33.6321 13.9333C33.9934 13.9333 34.3428 14.0696 34.5144 14.1761L34.7809 13.6787ZM42.7222 13.3825C42.367 13.3825 42.136 13.5484 41.9761 13.7971V13.4536H41.3661V16.2843H41.982V14.6972C41.982 14.2294 42.1833 13.9689 42.5862 13.9689C42.7104 13.9689 42.8408 13.9866 42.971 14.0399L43.1605 13.4596C43.0243 13.4062 42.8466 13.3825 42.7222 13.3825ZM37.4695 13.4535H36.4629V12.5949H35.8411V13.4535H35.2667V14.0162H35.8411V15.3072C35.8411 15.9644 36.0957 16.3553 36.8241 16.3553C37.0906 16.3553 37.3985 16.2724 37.5939 16.1361L37.4163 15.6091C37.2327 15.7158 37.0314 15.7691 36.8715 15.7691C36.5635 15.7691 36.4629 15.5795 36.4629 15.2952V14.0162H37.4695V13.4535ZM28.2671 16.2843V14.5077C28.2671 13.8385 27.8406 13.3886 27.1537 13.3825C26.7925 13.3766 26.4195 13.4892 26.1589 13.886C25.9635 13.572 25.6555 13.3825 25.2232 13.3825C24.9211 13.3825 24.6251 13.4713 24.3942 13.803V13.4536H23.7783V16.2843H24.4001V14.715C24.4001 14.2235 24.6725 13.9629 25.0929 13.9629C25.5015 13.9629 25.7088 14.2294 25.7088 14.7091V16.2843H26.3306V14.715C26.3306 14.2235 26.6149 13.9629 27.0234 13.9629C27.4439 13.9629 27.6452 14.2294 27.6452 14.7091V16.2843H28.2671Z" fill="#231F20"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1973 18.1968H15.9216V11.5042H12.1973V18.1968Z" fill="#FF5F00"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4336 14.8506C12.4336 13.4928 13.0693 12.2837 14.0593 11.5043C13.3352 10.9343 12.4217 10.5942 11.4288 10.5942C9.07827 10.5942 7.17285 12.4999 7.17285 14.8506C7.17285 17.2013 9.07827 19.1069 11.4288 19.1069C12.4217 19.1069 13.3352 18.7669 14.0593 18.1969C13.0693 17.4175 12.4336 16.2082 12.4336 14.8506Z" fill="#EB001B"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.946 14.8506C20.946 17.2013 19.0404 19.1069 16.6899 19.1069C15.697 19.1069 14.7835 18.7669 14.0596 18.1969C15.0495 17.4175 15.6851 16.2082 15.6851 14.8506C15.6851 13.4928 15.0495 12.2837 14.0596 11.5043C14.7835 10.9343 15.697 10.5942 16.6899 10.5942C19.0404 10.5942 20.946 12.4999 20.946 14.8506Z" fill="#F79E1B"/>
              <rect x="0.249196" y="1.1447" width="61.5016" height="27.4116" rx="7.72508" stroke="#DCDCDC" stroke-width="0.498392"/>
            </svg>
          </li>
          {% comment %}Apple Pay{% endcomment %}
          <li>  
            <svg width="62" height="29" viewBox="0 0 62 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.249196" y="1.05462" width="61.5016" height="27.4116" rx="7.72508" fill="white"/>
              <g clip-path="url(#clip0_935_48133)">
              <path d="M20.9892 9.95188C20.6193 10.3896 20.0275 10.7348 19.4357 10.6855C19.3617 10.0937 19.6515 9.46487 19.9905 9.0765C20.3604 8.62647 21.0077 8.30591 21.5317 8.28125C21.5933 8.89772 21.3529 9.50186 20.9892 9.95188ZM21.5255 10.8026C20.6686 10.7533 19.935 11.2896 19.5282 11.2896C19.1151 11.2896 18.4925 10.8273 17.8144 10.8396C16.9328 10.8519 16.1129 11.3513 15.6629 12.1465C14.7382 13.737 15.4225 16.0919 16.3164 17.3865C16.7541 18.0276 17.2781 18.7304 17.9685 18.7058C18.622 18.6811 18.8809 18.2804 19.67 18.2804C20.4652 18.2804 20.6933 18.7058 21.3837 18.6934C22.0988 18.6811 22.5489 18.0523 22.9866 17.4112C23.4859 16.6837 23.6893 15.9748 23.7017 15.9378C23.6893 15.9255 22.3208 15.4015 22.3084 13.8233C22.2961 12.5041 23.3873 11.8753 23.4366 11.8383C22.8201 10.9259 21.8584 10.8273 21.5255 10.8026ZM26.4758 9.01485V18.6256H27.9676V15.3398H30.0328C31.9192 15.3398 33.2446 14.0452 33.2446 12.1712C33.2446 10.2971 31.9439 9.01485 30.0821 9.01485H26.4758ZM27.9676 10.2724H29.6876C30.9822 10.2724 31.7219 10.9629 31.7219 12.1773C31.7219 13.3918 30.9822 14.0884 29.6814 14.0884H27.9676V10.2724ZM35.9694 18.6996C36.9065 18.6996 37.7757 18.2249 38.1702 17.4728H38.201V18.6256H39.5819V13.8418C39.5819 12.4548 38.4723 11.5609 36.7647 11.5609C35.1803 11.5609 34.009 12.4671 33.9659 13.7124H35.3098C35.4208 13.1205 35.9694 12.7322 36.7215 12.7322C37.6339 12.7322 38.1456 13.1575 38.1456 13.9404V14.4706L36.2838 14.5816C34.5515 14.6864 33.6145 15.3953 33.6145 16.6283C33.6145 17.8735 34.5824 18.6996 35.9694 18.6996ZM36.3701 17.5591C35.5749 17.5591 35.0694 17.1769 35.0694 16.5913C35.0694 15.9871 35.5564 15.6357 36.4873 15.5803L38.1456 15.4755V16.0179C38.1456 16.918 37.3811 17.5591 36.3701 17.5591ZM41.4252 21.2394C42.8801 21.2394 43.5643 20.6846 44.1623 19.0017L46.7823 11.6533H45.2658L43.5089 17.331H43.478L41.7211 11.6533H40.1614L42.6889 18.6503L42.5533 19.0756C42.3252 19.7969 41.9553 20.0743 41.2957 20.0743C41.1786 20.0743 40.9505 20.062 40.858 20.0497V21.2025C40.9443 21.2271 41.3142 21.2394 41.4252 21.2394Z" fill="black"/>
              </g>
              <rect x="0.249196" y="1.05462" width="61.5016" height="27.4116" rx="7.72508" stroke="#DCDCDC" stroke-width="0.498392"/>
              <defs>
              <clipPath id="clip0_935_48133">
              <rect width="31.5633" height="12.9582" fill="white" transform="translate(15.2188 8.28125)"/>
              </clipPath>
              </defs>
            </svg>
          </li>
          {% comment %}Google Pay{% endcomment %}
          <li>  
            <svg width="62" height="29" viewBox="0 0 62 29" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="0.249196" y="1.05462" width="61.5016" height="27.4116" rx="7.72508" fill="white"/>
              <g clip-path="url(#clip0_935_48134)">
              <path d="M25.4663 14.2307C25.4663 13.8775 25.4271 13.5243 25.3879 13.1711H20.4824V15.1726H23.2687C23.151 15.8005 22.7978 16.3891 22.2484 16.7423V18.0373H23.9358C24.9169 17.1347 25.4663 15.8005 25.4663 14.2307Z" fill="#4285F4"/>
              <path d="M20.4823 19.293C21.8951 19.293 23.0724 18.8221 23.9357 18.0373L22.2483 16.7422C21.7773 17.0562 21.1887 17.2524 20.4823 17.2524C19.148 17.2524 17.9707 16.3498 17.5783 15.094H15.8516V16.4283C16.7542 18.1942 18.5201 19.293 20.4823 19.293Z" fill="#34A853"/>
              <path d="M17.5779 15.094C17.3425 14.4661 17.3425 13.7597 17.5779 13.0926V11.7583H15.8512C15.1056 13.2103 15.1056 14.937 15.8512 16.4283L17.5779 15.094Z" fill="#FBBC04"/>
              <path d="M20.4821 10.9734C21.2277 10.9734 21.9341 11.2481 22.4835 11.7583L23.9748 10.2671C23.0329 9.4037 21.7771 8.89353 20.5214 8.93278C18.5592 8.93278 16.754 10.0316 15.8906 11.7976L17.6173 13.1318C17.9705 11.876 19.1478 10.9734 20.4821 10.9734Z" fill="#EA4335"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M30.1363 15.0153V18.6649H28.959V9.63892H32.02C32.7656 9.63892 33.472 9.91362 34.0214 10.4238C34.5708 10.8947 34.8455 11.6011 34.8455 12.3467C34.8455 13.0923 34.5708 13.7595 34.0214 14.2696C33.472 14.7798 32.8048 15.0545 32.02 15.0545L30.1363 15.0153ZM30.1363 10.7377V13.8772H32.0985C32.5301 13.8772 32.9618 13.7202 33.2365 13.4063C33.8644 12.8176 33.8644 11.8366 33.2758 11.2479L33.2365 11.2087C32.9226 10.8947 32.5301 10.6985 32.0985 10.7377H30.1363ZM37.5535 12.3075C38.4168 12.3075 39.084 12.543 39.5941 13.0139C40.1043 13.4848 40.3398 14.1127 40.3398 14.8976V18.665H39.241V17.8016H39.2017C38.7308 18.508 38.0637 18.8612 37.2788 18.8612C36.6116 18.8612 36.023 18.665 35.5521 18.2726C35.1204 17.8801 34.8457 17.3307 34.8457 16.7421C34.8457 16.1142 35.0811 15.604 35.5521 15.2116C36.023 14.8191 36.6901 14.6622 37.475 14.6622C38.1814 14.6622 38.7308 14.7799 39.1625 15.0546V14.7799C39.1625 14.3874 39.0055 13.995 38.6915 13.7596C38.3776 13.4848 37.9852 13.3279 37.5535 13.3279C36.8863 13.3279 36.3762 13.6026 36.023 14.152L35.0027 13.5241C35.6306 12.7 36.4547 12.3075 37.5535 12.3075ZM36.0622 16.7813C36.0622 17.0953 36.2192 17.37 36.4547 17.5269C36.7294 17.7231 37.0433 17.8409 37.3573 17.8409C37.8282 17.8409 38.2991 17.6447 38.6523 17.2915C39.0447 16.9383 39.241 16.5066 39.241 16.0357C38.8878 15.761 38.3776 15.604 37.7105 15.604C37.2395 15.604 36.8471 15.7217 36.5332 15.9572C36.2192 16.1534 36.0622 16.4281 36.0622 16.7813ZM46.6799 12.5431L46.6971 12.5038V12.5431H46.6799ZM46.6799 12.5431H45.4805L43.6753 16.9776H43.6361L41.7916 12.5431H40.5358L43.0867 18.3118L41.6346 21.4121H42.8119L46.6799 12.5431Z" fill="#5F6368"/>
              </g>
              <rect x="0.249196" y="1.05462" width="61.5016" height="27.4116" rx="7.72508" stroke="#DCDCDC" stroke-width="0.498392"/>
              <defs>
              <clipPath id="clip0_935_48134">
              <rect width="31.3948" height="14.9518" fill="white" transform="translate(15.3027 7.28442)"/>
              </clipPath>
              </defs>
            </svg>
          </li>
      </ul>
      {%- if block.settings.show_social -%}
        {% if block.settings.social_heading != blank %}
          <div class="footer__block-heading">{{ block.settings.social_heading }}</div>
        {% endif %}
        <ul class="footer__list-social list-unstyled list-social" role="list">
          {%- if settings.social_twitter_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                {%- render 'icon-twitter' -%}
                <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_facebook_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                {%- render 'icon-facebook' -%}
                <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_pinterest_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                {%- render 'icon-pinterest' -%}
                <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_instagram_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                {%- render 'icon-instagram' -%}
                <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_tiktok_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                {%- render 'icon-tiktok' -%}
                <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_tumblr_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                {%- render 'icon-tumblr' -%}
                <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_snapchat_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                {%- render 'icon-snapchat' -%}
                <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_youtube_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                {%- render 'icon-youtube' -%}
                <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_vimeo_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                {%- render 'icon-vimeo' -%}
                <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
              </a>
            </li>
          {%- endif -%}
        </ul>
      {%- endif -%}
    {%- endunless -%}
    {%- when 'menu' -%} 
      {% if block.settings.menu != blank %}
        <ul class="footer__menu" role="list">
          {%- for link in block.settings.menu.links -%}
            <li class="footer__menu-item">
              <a href="{{ link.url }}">
                {{ link.title | escape }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {% endif %}
    {%- when 'text-image' -%} 
      {% if block.settings.text != blank %}
        <div>{{ block.settings.text }}</div>
      {% endif %}
      {% if block.settings.image != blank %}
        {% render 'image', image: block.settings.image %}
      {% endif %}
  {% endcase %}
</div>