{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer__wrapper page-width">
  {% render 'customer-navigation' %}
  <div class="customer account">
    {% assign has_coupons = false %}
    {% paginate customer.orders by 1000 %}
      {%- if customer.orders.size > 0 -%}
        {%- for order in customer.orders -%}
          {% if order.metafields.my_fields.coupon_codes != blank %}
            {% assign has_coupons = true %}

            {% comment %}Calculate "valid until"{% endcomment %}
            {% for line_item in order.line_items %}
              {% if line_item.fulfillment.created_at %}
                {% assign year_seconds = 60 | times: 60 | times: 24 | times: 365 %}
                {% assign valid_until = line_item.fulfillment.created_at | date: "%s" | plus: year_seconds | date: "%d.%m.%Y" %}
                {% break %}
              {% endif %}
            {% endfor %}
            <div class="customer__box">
              <h3 class="h3">{{ order.metafields.my_fields.coupon_type.value }}</h3>

              <div class="customer__box__line-item">
                <div class="customer__box__line-item--left">
                  <div class="grid grid--2-col">
                    {% if valid_until %}
                      <div class="grid__item">
                        <label>Gültig bis:</label>
                        {{ valid_until }}
                      </div>
                    {% endif %}
                    <div class="grid__item">
                      <label>Bestellnummer:</label>
                      {{ order.name }}
                    </div>
                    {% comment %}
                    <div class="grid__item">
                      <label>Beschreibung:</label>
                      TODO:
                    </div>
                    {% endcomment %}
                    <div class="grid__item">
                      <label>Link:</label>
                      {{ order.metafields.my_fields.coupon_link.value }}
                    </div>
                    <div class="grid__item">
                      <label>Gutschein-Code:</label>
                      {{ order.metafields.my_fields.coupon_codes.value }}
                    </div>
                  </div>
                </div>
                <div class="customer__box__line-item--right">
                  <a class="button button--secondary copy-coupon-code" href="#" data-code="{{ order.metafields.my_fields.coupon_codes.value }}">
                    Code kopieren
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {%- endif -%}
    {% endpaginate %}

    {% unless has_coupons %}
      <p>Keine Coupons</p>
    {% endunless %}
  </div>
</div>
