{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="customer__wrapper page-width">
  {% render 'customer-navigation' %}
  <div class="customer account">
    <h1 class="h1 customer__title">
      Hallo {{ customer.first_name }},
    </h1>
    <p>auf dieser Seite findest du alle Informationen zu deinem Fressnapfbox Benutzerkonto.</p>

    <div class="customer__box">
      <div class="customer__box__title">
        Dein Benutzerkonto
      </div>
      <div class="customer__box__content">
        Name: {{ customer.first_name }} {{ customer.last_name }}<br />
        E-Mail: {{ customer.email }}
      </div>
    </div>
  </div>
</div>

