{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="footer">
  <div class="footer-smile">
    <svg width="100%" height="100%" viewBox="0 0 1679 175" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M-0.999512 174.896C-0.999512 174.896 174.599 174.896 350.197 136.506C470.656 110.159 759.925 0.895508 1033.08 0.895508C1403.78 0.895508 1679 108.065 1679 108.065V174.896H-0.999512Z" fill="#196428"/>
    </svg>
  </div>
  <div class="footer__content">
    <div class="page-width">
      <div class="grid grid--1-col large-up-hide">
        {% for idx in (1..10) %}
          {% for block in section.blocks %}
            {% if block.settings.position_mobile != idx %}{% continue %}{% endif %}
            {% render 'footer-block', block: block %}
          {% endfor %}
        {% endfor %}
      </div>

      <div class="grid grid--1-col grid--4-col-tablet small-hide medium-hide">
        {% for block in section.blocks %}
          {% render 'footer-block', block: block %}
        {% endfor %}
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "payment-social",
      "name": "Payment Methods & Social",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "number",
          "id": "position_mobile",
          "label": "Position mobile",
          "default": 1
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "label": "Show social icons",
          "default": true
        },
        {
          "type": "text",
          "id": "social_heading",
          "label": "Social Heading",
          "default": "Folge uns"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "number",
          "id": "position_mobile",
          "label": "Position mobile",
          "default": 1
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menü"
        }
      ]
    },
    {
      "type": "text-image",
      "name": "Text with Image",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "number",
          "id": "position_mobile",
          "label": "Position mobile",
          "default": 1
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image / Logo"
        }
      ]
    }
  ],
  "settings": []
}
{% endschema %}