{{ 'section-intro.css' | asset_url | stylesheet_tag }}

<div class="section-intro page-width">
  <div class="intro__text-container">
    <h1>{{ section.settings.headline }}</h1>
    <div class="intro__rating-container">
      <div class="intro__rating">
        {{ section.settings.rating }}
        {% for i in (1..4) %}
          <svg width="29" height="27" viewBox="0 0 29 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9578 1.89197C13.575 0.408405 15.6798 0.408405 16.2969 1.89197L19.1649 8.78912L26.6089 9.38557C28.2123 9.51368 28.8625 11.5138 27.6406 12.5607L21.9694 17.4192L23.701 24.6827C24.0743 26.2475 22.3731 27.4832 21.0011 26.6456L14.6274 22.7528L8.25368 26.6456C6.88169 27.4832 5.18048 26.2462 5.55378 24.6827L7.2853 17.4192L1.61413 12.5607C0.392288 11.5138 1.04247 9.51368 2.64588 9.38557L10.0899 8.78912L12.9578 1.89335V1.89197Z" fill="#FFB300"/>
          </svg>
        {% endfor %}
        <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3241 1.89197C12.9412 0.408405 15.046 0.408405 15.6631 1.89197L18.5311 8.78912L25.9751 9.38557C27.5785 9.51368 28.2287 11.5138 27.0068 12.5607L21.3357 17.4192L23.0672 24.6827C23.4405 26.2475 21.7393 27.4832 20.3673 26.6456L13.9936 22.7528L7.61989 26.6456C6.2479 27.4832 4.54669 26.2462 4.91999 24.6827L6.65151 17.4192L0.980341 12.5607C-0.241501 11.5138 0.408679 9.51368 2.01209 9.38557L9.4561 8.78912L12.3241 1.89335V1.89197Z" fill="#FFB300"/>
          <path d="M18.0704 8.98011L18.1876 9.26215L18.4921 9.28654L25.9361 9.883L25.9362 9.88301C27.096 9.97567 27.5667 11.4224 26.6825 12.18C26.6825 12.18 26.6825 12.18 26.6825 12.18L21.0113 17.0385L20.7795 17.2371L20.8503 17.5341L22.5818 24.7977L22.5818 24.7978C22.8519 25.93 21.6212 26.8237 20.6288 26.2179L14.2552 22.3251L13.9946 22.166L13.7339 22.3251L7.36035 26.2179C6.36813 26.8236 5.13724 25.9289 5.4073 24.7979L5.40734 24.7977L7.13886 17.5341L7.20966 17.2371L6.97778 17.0385L1.30664 12.18C1.30663 12.18 1.30662 12.18 1.30661 12.18C0.422398 11.4224 0.893087 9.97567 2.05289 9.88301L2.053 9.883L9.49701 9.28654L9.80145 9.26215L9.91874 8.98015L12.7867 2.08438L12.8021 2.04738C13.267 1.01022 14.7611 1.0221 15.2024 2.08303L18.0704 8.98011Z" fill="white" stroke="#FFB300"/>
        </svg>

      </div>
      <div class="intro__rating-count">
        Basierend auf <a href="{{ section.settings.reviews_url }}">{{ section.settings.ratings_count }} Bewertungen</a>
      </div>
    </div>
  </div>

  <div class="intro__box intro__box--left">
    {%- if section.settings.box1_image != blank -%}
      {% render 'image', image: section.settings.box1_image %}
    {%- endif -%}
    <h2>{{ section.settings.box1_heading }}</h2>
    <a class="button" href="{{ section.settings.box1_button_url }}">
      {{ section.settings.box1_button_text }}
    </a>
    <div class="intro__box__next-delivery">
      <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.7996 0.625C12.6376 0.625 13.3607 1.11543 13.6976 1.825H15.3996C17.8137 1.825 19.7841 3.72645 19.8947 6.11318L19.8996 6.325V11.125C19.8996 12.2346 19.0396 13.1428 17.9496 13.2197L17.7996 13.225H17.1996C16.7026 13.225 16.2996 12.8221 16.2996 12.325C16.2996 11.8662 16.6429 11.4875 17.0867 11.432L17.1996 11.425H17.7996C17.9418 11.425 18.0607 11.3265 18.0917 11.1939L18.0996 11.125V6.325C18.0996 4.8914 16.9818 3.71842 15.5703 3.63031L15.3996 3.625H13.8996V7.525C13.8996 8.02206 13.4967 8.425 12.9996 8.425C12.5408 8.425 12.1622 8.08166 12.1066 7.63789L12.0996 7.525V2.725C12.0996 2.58276 12.0011 2.46395 11.8685 2.43291L11.7996 2.425H2.19961C2.05737 2.425 1.93856 2.52349 1.90752 2.65613L1.89961 2.725V8.725C1.89961 9.22206 1.49667 9.625 0.999609 9.625C0.540788 9.625 0.162158 9.28166 0.106622 8.83789L0.0996094 8.725V2.725C0.0996094 1.61538 0.959596 0.70715 2.04961 0.630271L2.19961 0.625H11.7996Z" fill="#464646"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8996 11.725C10.8996 10.2339 12.1086 9.025 13.5996 9.025C15.0907 9.025 16.2996 10.2339 16.2996 11.725C16.2996 13.2161 15.0907 14.425 13.5996 14.425C12.1086 14.425 10.8996 13.2161 10.8996 11.725ZM14.4996 11.725C14.4996 11.2281 14.0966 10.825 13.5996 10.825C13.1027 10.825 12.6996 11.2281 12.6996 11.725C12.6996 12.2219 13.1027 12.625 13.5996 12.625C14.0966 12.625 14.4996 12.2219 14.4996 11.725Z" fill="#464646"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.99961 9.025C2.50855 9.025 1.29961 10.2339 1.29961 11.725C1.29961 13.2161 2.50855 14.425 3.99961 14.425C5.49067 14.425 6.69961 13.2161 6.69961 11.725C6.69961 10.2339 5.49067 9.025 3.99961 9.025ZM3.99961 10.825C4.49655 10.825 4.89961 11.2281 4.89961 11.725C4.89961 12.2219 4.49655 12.625 3.99961 12.625C3.50267 12.625 3.09961 12.2219 3.09961 11.725C3.09961 11.2281 3.50267 10.825 3.99961 10.825Z" fill="#464646"/>
        <path d="M10.8996 12.325C10.8996 11.8279 10.4967 11.425 9.99961 11.425H7.59961L7.48672 11.432C7.04295 11.4875 6.69961 11.8662 6.69961 12.325C6.69961 12.8221 7.10255 13.225 7.59961 13.225H9.99961L10.1125 13.218C10.5563 13.1625 10.8996 12.7838 10.8996 12.325Z" fill="#464646"/>
      </svg>
      Nächste Lieferung im {{ section.settings.box1_product.metafields.my_fields.next_charge_month }}
    </div>
  </div>

  <div class="intro__box intro__box--right">
    {%- if section.settings.box2_image != blank -%}
      {% render 'image', image: section.settings.box2_image %}
    {%- endif -%}
    <h2>{{ section.settings.box2_heading }}</h2>
    <a class="button" href="{{ section.settings.box2_button_url }}">
      {{ section.settings.box2_button_text }}
    </a>
    <div class="intro__box__next-delivery">
      <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.7996 0.625C12.6376 0.625 13.3607 1.11543 13.6976 1.825H15.3996C17.8137 1.825 19.7841 3.72645 19.8947 6.11318L19.8996 6.325V11.125C19.8996 12.2346 19.0396 13.1428 17.9496 13.2197L17.7996 13.225H17.1996C16.7026 13.225 16.2996 12.8221 16.2996 12.325C16.2996 11.8662 16.6429 11.4875 17.0867 11.432L17.1996 11.425H17.7996C17.9418 11.425 18.0607 11.3265 18.0917 11.1939L18.0996 11.125V6.325C18.0996 4.8914 16.9818 3.71842 15.5703 3.63031L15.3996 3.625H13.8996V7.525C13.8996 8.02206 13.4967 8.425 12.9996 8.425C12.5408 8.425 12.1622 8.08166 12.1066 7.63789L12.0996 7.525V2.725C12.0996 2.58276 12.0011 2.46395 11.8685 2.43291L11.7996 2.425H2.19961C2.05737 2.425 1.93856 2.52349 1.90752 2.65613L1.89961 2.725V8.725C1.89961 9.22206 1.49667 9.625 0.999609 9.625C0.540788 9.625 0.162158 9.28166 0.106622 8.83789L0.0996094 8.725V2.725C0.0996094 1.61538 0.959596 0.70715 2.04961 0.630271L2.19961 0.625H11.7996Z" fill="#464646"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8996 11.725C10.8996 10.2339 12.1086 9.025 13.5996 9.025C15.0907 9.025 16.2996 10.2339 16.2996 11.725C16.2996 13.2161 15.0907 14.425 13.5996 14.425C12.1086 14.425 10.8996 13.2161 10.8996 11.725ZM14.4996 11.725C14.4996 11.2281 14.0966 10.825 13.5996 10.825C13.1027 10.825 12.6996 11.2281 12.6996 11.725C12.6996 12.2219 13.1027 12.625 13.5996 12.625C14.0966 12.625 14.4996 12.2219 14.4996 11.725Z" fill="#464646"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.99961 9.025C2.50855 9.025 1.29961 10.2339 1.29961 11.725C1.29961 13.2161 2.50855 14.425 3.99961 14.425C5.49067 14.425 6.69961 13.2161 6.69961 11.725C6.69961 10.2339 5.49067 9.025 3.99961 9.025ZM3.99961 10.825C4.49655 10.825 4.89961 11.2281 4.89961 11.725C4.89961 12.2219 4.49655 12.625 3.99961 12.625C3.50267 12.625 3.09961 12.2219 3.09961 11.725C3.09961 11.2281 3.50267 10.825 3.99961 10.825Z" fill="#464646"/>
        <path d="M10.8996 12.325C10.8996 11.8279 10.4967 11.425 9.99961 11.425H7.59961L7.48672 11.432C7.04295 11.4875 6.69961 11.8662 6.69961 12.325C6.69961 12.8221 7.10255 13.225 7.59961 13.225H9.99961L10.1125 13.218C10.5563 13.1625 10.8996 12.7838 10.8996 12.325Z" fill="#464646"/>
      </svg>
      Nächste Lieferung im {{ section.settings.box2_product.metafields.my_fields.next_charge_month }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Intro Section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "Headline"
    },
    {
      "type": "text",
      "id": "rating",
      "label": "Rating"
    },
    {
      "type": "number",
      "id": "ratings_count",
      "label": "Review count"
    },
    {
      "type": "url",
      "id": "reviews_url",
      "label": "Review URL"
    },
    {
      "type": "text",
      "id": "box1_heading",
      "label": "Heading Box 1"
    },
    {
      "type": "image_picker",
      "id": "box1_image",
      "label": "Image Box 1"
    },
    {
      "type": "product",
      "id": "box1_product",
      "label": "Produkt Box 1"
    },
    {
      "type": "text",
      "id": "box1_button_text",
      "label": "Button Text Box 1"
    },
    {
      "type": "url",
      "id": "box1_button_url",
      "label": "Button URL Box 1"
    },
    {
      "type": "text",
      "id": "box2_heading",
      "label": "Heading Box 2"
    },
    {
      "type": "image_picker",
      "id": "box2_image",
      "label": "Image Box 2"
    },
    {
      "type": "product",
      "id": "box2_product",
      "label": "Produkt Box 2"
    },
    {
      "type": "text",
      "id": "box2_button_text",
      "label": "Button Text Box 2"
    },
    {
      "type": "url",
      "id": "box2_button_url",
      "label": "Button URL Box 2"
    }
  ],
 "presets": [
   {
     "name": "Intro Section"
   }
 ]
}

{% endschema %}