{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}

<div class="newsletter newsletter--narrow section-padding">
  <div class="page-width">
    <div class="newsletter__wrapper gradient isolate">
      <svg class="newsletter__vector1 small-hide medium-hide" width="271" height="322" viewBox="0 0 271 322" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.5" d="M58.3306 -30.8672C-7.64496 -40.6542 -57.2795 -14.7592 -75.7253 0.786694C-76.9355 1.80658 -78.1615 2.77425 -79.4649 3.6718C-105.358 21.5015 -154.721 65.8392 -159.649 111.48C-165.967 170 -151.751 203.214 -82.2503 275.969C-12.7496 348.724 179.957 320.254 216.287 291.785C252.617 263.316 295.265 195.306 254.196 114.643C213.128 33.9798 143.627 -18.2142 58.3306 -30.8672Z" fill="#C7AFD5"/>
      </svg>
      <svg class="newsletter__vector2 small-hide medium-hide" width="173" height="254" viewBox="0 0 173 254" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M148.209 201.827C174.36 170.445 174.649 117.61 171.756 98.4408C166.956 66.627 155.244 22.685 121.312 7.30561C45.4112 -27.0956 -44.6126 81.2915 -42.3043 143.29C-39.996 205.289 -15.514 240.216 16.6092 250.502C48.7324 260.787 115.521 241.055 148.209 201.827Z" fill="#C7AFD5"/>
      </svg>
      <svg class="newsletter__vector3 small-hide medium-hide" width="374" height="234" viewBox="0 0 374 234" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.5" d="M251.573 1.01443C173.726 2.45014 97.1998 68.0144 73.1728 96.1303C33.2968 142.791 -15.4447 214.576 4.6959 282.772C49.7473 435.316 318.248 429.932 404.745 349.174C491.242 268.415 511.065 189.451 485.836 130.228C460.608 71.0052 348.883 -0.780202 251.573 1.01443Z" fill="#C7AFD5"/>
      </svg>
      <div class="newsletter__content">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'heading' -%}
              <h2 class="h1" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>
            {%- when 'paragraph' -%}
              <div class="newsletter__subheading rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
            {%- when 'email_form' -%}
              {% form 'customer', class: 'newsletter-form' %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="fnx-field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="Newsletter-error--{{ section.id }}"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="Newsletter-success--{{ section.id }}"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                  </div>

                  <button type="submit" class="button button__primary" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                    {{ 'newsletter.button_label' | t }}
                  </button>

                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                {%- endif -%}
              {% endform %}
          {%- endcase -%}
        {%- endfor -%}

        <div class="newsletter__small-text large-up-hide">
          {{ section.settings.small_text }}
        </div>
      </div>
    </div>

    <div class="newsletter__small-text small-hide medium-hide">
      {{ section.settings.small_text }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "richtext",
      "id": "small_text",
      "label": "Kleingedrucktes"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Subscribe to our emails",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Be the first to know about new collections and exclusive offers.</p>",
          "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
